.center {
  align-items: center;
}
dd {
  margin: 10px;
}

dt {
  cursor: pointer;
  font-size: 18px;
  background-color: wheat;
  border-bottom: 2px solid grey;
  border-top: 2px solid white;
}

dl {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
